.btn {
    font-size: 18px;
    margin-top: 43px;
    div.redBtn.active {
      background: #ffcb16;
      box-shadow: 0 2px 6px 0 rgba(0, 32, 99, 0.4);
      color: #000;
      height: 78px;
      line-height: 78px;
      letter-spacing: 5px;
      font-size: 31px;
    }
    div.redBtn {
      background: #f8f9fa; // opacity:0.5;
      color: #aaadb4;
      height: 78px;
      line-height: 78px;
      letter-spacing: 5px;
      font-size: 31px;
    }
    div {
      width: 100%;
      height: 46px;
      line-height: 46px;
      border-radius: 8px;
      text-align: center;
    }
    a{
      display: block;
      height:100%;
      width:100%;
      color:#000;
    }
  }
