.vux-toast .weui-toast{
    width: 250px !important;
  }
  .weui-toast_text .weui-toast__content{
    padding:30px !important;
    font-size:28px;
  }
  .order-list .vux-tab-container .vux-tab{
    background-color:#23262b !important;
    height:100%;
  }
  .order-list .vux-tab-container{
    height: auto;
    .vux-tab{
      padding: 10px;
    }
  }
  .order-list .vux-tab .vux-tab-item{
    font-size: 28px;
  }
  .vux-loadmore{
    .weui-loading {
      width: 50px;
      height: 50px;;
    }
    .weui-loadmore__tips{
      font-size: 25px;
    }
  }
  .vux-divider{
    color: white !important;
  }