.vux-toast .weui-toast{
    width: 350px !important;
  }
  .weui-toast_text .weui-toast__content{
    padding:30px !important;
    font-size:28px;
  }
  .order-list .vux-tab-container .vux-tab{
    background-color:#23262b !important;
    border-bottom: #23262b 1px solid;
    height:100%;
  }
  .order-list .vux-tab-container{
    height: auto;
    .vux-tab{
      padding: 10px;
    }
    // .vux-tab .vux-tab-item{
      
    // }
  }
  .order-list .vux-tab .vux-tab-item{
    font-size: 28px;
    background:none;
  }
  .vux-loadmore{
    .weui-loading {
      width: 50px;
      height: 50px;;
    }
    .weui-loadmore__tips{
      font-size: 25px;
    }
  }
  .vux-divider{
    color: white !important;
  }
  .weui-toast{
    top:40% !important;
    .weui-icon_toast.weui-loading{
      margin: 40px 0 0 !important; 
    }
    .weui-toast__content{
      font-size:25px !important; 
    }
    .weui-icon_toast.weui-loading{
      width:50px;
      height:50px;
    }
  }
  .weui-dialog{
    max-width:100% !important;
    color: #515151 !important;
  }